/* 
   Global
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.7;
    color: #333;
}


/* 
   Navbar
 */

.navbar {
    background-color: #111;
    padding: 15px 0;
}

.navbar-brand {
    color: #f9b233 !important;
    font-size: 1.4rem;
}

.navbar-nav .nav-link {
    color: #fff !important;
    margin-left: 15px;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #f9b233 !important;
}


/* 
   Hero Section
 */

.hero {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("../img/jj.gif") center/cover no-repeat;
    display: flex;
    align-items: center;
    color: #fff;
}

.hero h1 {
    font-size: 3.2rem;
    font-weight: 600;
}

.hero p {
    font-size: 1.1rem;
    margin-top: 15px;
}


/* ปุ่มหลัก */

.btn-main {
    background-color: #f9b233;
    color: #000;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: 500;
    display: inline-block;
    transition: 0.3s;
}

.btn-main:hover {
    background-color: #e0a21f;
    color: #000;
    transform: translateY(-3px);
}


/* 
   Section
 */

section {
    padding: 90px 0;
}

.section-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 50px;
    position: relative;
}


/* ขีดเส้นใต้หัวข้อ */

.section-title::after {
    content: "";
    width: 70px;
    height: 4px;
    background: #f9b233;
    display: block;
    margin: 15px auto 0;
    border-radius: 5px;
}


/* 
   About
 */

#about p {
    max-width: 900px;
    margin: auto;
    font-size: 1.05rem;
}


/* 
   Skills
 */

.skill-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px
}

.skill-box {
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    flex: 1
}

.skill-box:hover {
    transform: translateY(-8px);
    background: #f9b233;
    color: #000;
}


/* 
   Education & Experience
 */

.list-group-item {
    font-size: 1rem;
    padding: 20px;
}

#experience ul li {
    font-size: 1rem;
    margin-bottom: 10px;
}


/* 
   Portfolio
 */

.portfolio img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    transition: 0.3s;
}

.portfolio img:hover {
    transform: scale(1.05);
}

.portfolio p {
    margin-top: 15px;
    font-weight: 500;
}

.portfolio-center {
    display: flex;
    justify-content: center;
}


/* 
   Footer
 */

footer {
    background: #111;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    font-size: 0.95rem;
}


/* 
   Responsive
 */

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.4rem;
    }
    .section-title {
        font-size: 1.8rem;
    }
}